@font-face {
  font-family: 'FucXed';
  src:
    url('~@/assets/fonts/FUCXEDCAPSLatin-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/FUCXEDCAPSLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('~@/assets/fonts/CrimsonText-Regular.ttf') format('truetype'),
    url('~@/assets/fonts/CrimsonText-Italic.ttf') format('truetype'),
    url('~@/assets/fonts/CrimsonText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('~@/assets/fonts/Lucida_Sans.ttf') format('truetype');
}
