.floating-tags-input.position-relative {
  .ti-input {
    border-radius: $border-radius;
    padding-top: 28px;
    padding-bottom: 6px;
    padding-left: 6px;

    .ti-tags {
      margin-left: 4px;

      .ti-tag {
        margin-left: 0;
        margin-right: 4px;
      }

      .ti-new-tag-input-wrapper {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  label {
    transform: $form-floating-label-transform;
    top: 10px;
    left: 2px;
  }
}
